<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63761904831-30sib0vojth6uu5djosecbrf6ms416bp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63761904831-30sib0vojth6uu5djosecbrf6ms416bp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>63761904831-uavao52g3a80ntb6tml4tegfbs7v1fo6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1REIqb3_dpEDvHFFIV4j3SOG_ZDq63xc</string>
	<key>GCM_SENDER_ID</key>
	<string>63761904831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junoRide.orders</string>
	<key>PROJECT_ID</key>
	<string>junoride-order-52b56</string>
	<key>STORAGE_BUCKET</key>
	<string>junoride-order-52b56.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63761904831:ios:c5bc59d9b9c7e40597420a</string>
</dict>
</plist>